html,
body,
#app {
  @apply w-full h-full antialiased;
}

a {
  @apply no-underline;
}

body::-webkit-scrollbar-track,
.el-main::-webkit-scrollbar-track,
.right-main::-webkit-scrollbar-track {
  @apply rounded-lg;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #F5F5F5;
}

body::-webkit-scrollbar,
.el-main::-webkit-scrollbar,
.right-main::-webkit-scrollbar {
  @apply  w-1.5;
  background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb,
.el-main::-webkit-scrollbar-thumb,
.right-main::-webkit-scrollbar-thumb {
  @apply rounded-lg;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #bab6b6;
}

.el-sub-menu {
  width: 220px;
}

@keyframes throttle {
  from {
    @apply pointer-events-none;
  }
  to {
    @apply pointer-events-auto;
  }
}

button {
  @apply active:animate-none;
  animation: throttle 2s step-end forwards;
}